.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 48px;
}

.container button{
    font-size: 32px;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.container :active{
    background-color: bisque;
}